.OutsideHeader {
    font-size:xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div {
    background-color: purple;
    text-align: center;
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border-color: burlywood;
    border-style:double;
    border-width: 10px;
    cursor: grab;
}
.MyProjects {
    text-align: left;
}
ul {
    text-align: left;
}
.Contact {
    text-align: left;
}
.phone {
    text-align: left;
    color: aquamarine;
}
.email {
    text-align: left;
    color: aquamarine;
}
img {
    border-style: solid;
    border-color: burlywood;
    border-radius: 15px 50px;
}